# 텍스트 파일의 줄바꿈 및 인코딩 설정
* text=auto
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.md text eol=lf

# 바이너리 파일
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.otf binary
*.ttf binary
*.woff binary
*.woff2 binary

